<!DOCTYPE html>
{% load static %}
    <style>
        .hello-msg{
          font-size: 18px;
          color: #fff;
          margin-right: 20px;
        }
   </style>
<html>
    <head>
        <meta name="viewport" content="width=device-width , initial-scale=1 , maximum-scale=1 , minimum-scale=1"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/main.css" >
        <title>بوم | Boom</title>
    </head>
    <script type="text/javascript">
      var user = '{{request.user}}'

    </script>

    <body style="min-width: 550px">
        <nav class="navbar navbar-expand-lg navbar-dark bg-darkme">
            <div class="container-fluid">
           <span>
               <img src="{% static 'images/Logo.png' %}" alt="logo" id="logo-icon">
              <h3 class="navbar-brand">Boom | بوم</h3>
              <a  class="nav-link active" aria-current="page" style="color: white" href={% url 'store' %}>خانه</a></span>
              <div class="form-inline my-2 my-lg-0">
                  <span class="hello-msg"> خوش آمدید{{ request.user}}</span>
                  <span ><a  class="btn btn-danger" href="{% url 'logout' %}" style="margin-right: 5px">خروج</a></span>
                  <span><b><a href="{% url 'login' %}" class="btn btn-warning">ورود</a></b></span>
                  <span> <a aria-current="page" href="{% url 'register' %}" class="btn btn-info" style="margin-left: 5px">ثبت نام</a></span>
                  <a href="{% url 'cart' %}">
                      <img src="{% static 'images/cart.png' %}" alt="cart" id="cart-icon">
                  </a>
                     <p id="cart-total">{{get_cart_items}}</p>
              </div>
            </div>

          </nav>

        <hr>
        <div class="container">
            <br>
            {% block content %}

            {% endblock content %}
        </div>



        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{% static 'JS/cart.js' %}"></script>
    </body>
</html>