{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for artwork in artworks %}
    <div class="col-lg-4">
        <img src="{{artwork.image.url}}" alt="sample picture" class="thumbnail">
        <div class="box-element product">
            <h6><strong>{{artwork.name}}</strong></h6>
            <strong><h6 style="display:inline-block ; float: left" >{{artwork.status }}</h6>
                <h6 style="display:inline-block " >تومان</h6> {{artwork.price}}
            </strong>
            <hr>
            <a class="btn btn-outline-secondary add-btn update-cart" href= "{% url 'add_order' artwork.id %}" >افزودن</a>
            <a class="btn btn-outline-danger" href="{% url 'delete_order' artwork.id %}" >حذف</a>
            <a href="{{artwork.image.url}}" class="btn btn-outline-success">نمایش</a>
            <h4 style="display:inline-block; float:right"></h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}


